{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Task Manager</h1>
                <p>Task Manager is a simple web application that allows you to manage your tasks.</p>
                <p>It is built using Django, Rest Framework, and SQLite.</p>
                <p>Click the button below to get started.</p>
                <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
            </div>
        </div>
    </div>
{% endblock %}