{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h2>Login</h2>
        <form id="login-form" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'index' %}'">Cancel</button>
        </form>
        <div id="error-message" style="color: red;"></div>
    </div>

    <script>
        document.getElementById('login-form').addEventListener('submit', function(event) {
            event.preventDefault();

            fetch("{% url 'token_obtain_pair' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    username: document.getElementById('username').value,
                    password: document.getElementById('password').value
                })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Login failed');
                }
                return response.json();
            })
            .then(data => {
                // Store the token in local storage or cookies
                localStorage.setItem('access_token', data.access);
                // Redirect to task list
                window.location.href = "{% url 'task_list' %}";
            })
            .catch(error => {
                document.getElementById('error-message').textContent = 'Invalid username or password.';
            });
        });
    </script>
    <script>
        document.querySelectorAll('form[action="{% url 'logout' %}"]').forEach(form => {
            form.addEventListener('submit', function(event) {
                event.preventDefault();
                // Remover token de localStorage
                localStorage.removeItem('access_token');
                // Redirigir a la página de login
                window.location.href = "{% url 'login' %}";
            });
        });
    </script>
{% endblock %}
